{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .the-class {
        background-color: green;
      }
      h1{
        font-size: 30px;
        color: black;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
      }
</style>
<script>   
    function changeColor() {
        document.getElementById('td').classList.toggle("the-class");
      }
</script>
<div class="container-fluid">
   <div class="p-3 mb-2 text-white text-center">
       <h1>Ticket</h1>
       <table class="table table-bordered ">
                <tr>
                    <td onclick="changeColor()" id="td">{{ticket_array.0.0}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.0.1}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.0.2}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.0.3}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.0.4}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.0.5}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.0.6}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.0.7}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.0.8}}</td>
                </tr>

                <tr>
                    <td onclick="changeColor(this)">{{ticket_array.1.0}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.1.1}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.1.2}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.1.3}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.1.4}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.1.5}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.1.6}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.1.7}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.1.8}}</td>
                </tr>

                <tr>
                    <td onclick="changeColor(this)">{{ticket_array.2.0}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.2.1}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.2.2}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.2.3}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.2.4}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.2.5}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.2.6}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.2.7}}</td>
                    <td onclick="changeColor(this)">{{ticket_array.2.8}}</td>
                </tr>
       </table>
   </div>
</div>
{% endblock  %}
